<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864483677923-366riq2gibimaugr8ln2dbkl395o9irr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864483677923-366riq2gibimaugr8ln2dbkl395o9irr</string>
	<key>API_KEY</key>
	<string>AIzaSyCymuTFUnNLuF5aliy9R1stqZiPdQ4gTTE</string>
	<key>GCM_SENDER_ID</key>
	<string>864483677923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AhmedAmin.FirebaseRemoteConfiguration</string>
	<key>PROJECT_ID</key>
	<string>fir-remoteconfiguration-4e988</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-remoteconfiguration-4e988.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864483677923:ios:8d13f6ce862f8158b1d7d6</string>
</dict>
</plist>